
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #DCDCDC;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}


header {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.about-image img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 60px;
}

.about-details {
    max-width: 60%;
}

.about-details h2 {
    color: #4CAF50;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.skill-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: calc(33% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
    width: 60px;
    margin-bottom: 10px;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-card h3 {
    margin-bottom: 5px;
    color: #4CAF50;
}


footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}


